includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

parameters:
    level: max

    # reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - config
        - src
        - tests
        - rules

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*


    ignoreErrors:
        # false postiive on class-strng
        - '#expects class\-string, string given#'

        # rector co-variant
        - '#Parameter \#1 \$node \(PhpParser\\Node\\(.*?) of method Rector\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\PhpRectorInterface\:\:refactor\(\)#'

        # false positive
        - '#Parameter \#1 \$tag of method Rector\\BetterPhpDocParser\\PhpDocParser\\ClassAnnotationMatcher\:\:resolveTagFullyQualifiedName\(\) expects string, string\|null given#'

        -
            message: '#Parameter \#1 \$phpVersion of method Rector\\Config\\RectorConfig\:\:phpVersion\(\) expects 50200\|50300\|50400\|50500\|50600\|70000\|70100\|70200\|70300\|70400\|80000\|80100\|80200\|100000, \d+ given#'
            paths:
                - tests/Set/DoctrineORM29Set/config/configured_set.php
