includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

parameters:
    level: max

    checkGenericClassInNonGenericObjectType: false

    paths:
        - config
        - src
        - tests

    scanDirectories:
        - stubs

    excludePaths:
        - */Source/*
        - *Source/*

    ignoreErrors:
         -
             message: '#Parameter "(.*?)" cannot be nullable#'
             paths:
                  - src/NodeAnalyzer/SetterClassMethodAnalyzer.php

         -
             message: '#Use another value object over array with string\-keys and objects, array<string, ValueObject\>#'
             paths:
                 - src/Rector/Class_/TranslationBehaviorRector.php
